/* stats tables */
table.ss-stats {
    margin-bottom: 1em;
}

table.ss-stats th {
    font-weight: bold;
}

table.ss-stats th[colspan] {
    text-align: left;
    padding-top: 0.5em;
}

table.ss-stats td {
    margin: 0 1em;
}

table.ss-stats tr,
table.ss-stats td {
    text-align: right;
    padding-left: 2em;
}

/* histograms */
figure.ss-histogram {
    padding: 0 1em;
    margin: 1em 0;
}

figure.ss-histogram figcaption {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
}

figure.ss-histogram svg text {
    font-size: 80%;
}

figure.ss-histogram svg text.avg {
    font-weight: bold;
}

figure.ss-histogram svg rect {
    fill: rgb(0,100,255);
    opacity: 0.5;
}

figure.ss-histogram svg rect.avg {
    opacity: 1;
}
